body {
  min-height: 2000px;
  padding-top: 70px;
}

ul.cv_list
{
    list-style-type: none;
	padding: 0px;
}

ul.cv_list > li {
	margin-bottom: 7px;
}

h1 {
	font-size: 18px;
	
}

h2 {
	font-size: 16px;
	
}

.toggle-button {
	text-decoration: underline;
	cursor:pointer;
}
ul.cv_list > li.toggle-off {
	display: none;
}

ul.cv_list > li.toggle-on {
	display: visible;
}

/*****************************************************************************/
/*
/* Publications
/*
/*****************************************************************************/

strong.author {
	color:#e68a00
}

