body {
  min-height: 2000px;
  padding-top: 70px;
}

ul.cv_list
{
    list-style-type: none;
	padding: 0px;
}

ul.cv_list > li {
	margin-bottom: 7px;
}

div.timeline, div.timerange {
	float: left;
	width:200px;
	height:20px;
}

div.timeline + div, div.timerange + div {
	margin-left: 205px;
}

/*****************************************************************************/
/*
/* Publications
/*
/*****************************************************************************/

strong.author {
	color:#e68a00
}

