body {
  min-height: 2000px;
  padding-top: 70px;
}

ul.cv_list
{
    list-style-type: none;
	padding: 0px;
}

ul.cv_list > li {
	margin-bottom: 7px;
}

h1 {
	font-size: 18px;
	
}

h2 {
	font-size: 16px;
	
}

.toggle-button {
	text-decoration: underline;
	cursor:pointer;
}
ul.cv_list > li.toggle-off {
	display: none;
}

ul.cv_list > li.toggle-on {
	display: visible;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	border-bottom: 5px solid orange;
	padding-bottom: 10px;
}

.profile {
	width: 100%;
	max-height: 250px;
	max-width: 250px;
}

ul.header-list
{
    list-style-type: none;
	padding: 0px;
}

ul.header-list> li >a
{
    color:#CCC
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	color:#555;
	background-color: #e7e7e7;
}

/*****************************************************************************/
/*
/* Publications
/*
/*****************************************************************************/

strong.author {
	color:#e68a00
}

.timelegend {
    margin-top: 10px;
    margin-bottom: 10px;	
}

/*****************************************************************************/
/*
/* Tooltips
/*
/*****************************************************************************/

.tooltiptext{
    display: none;
}

.tooltipped{
  border-bottom: 1px dashed #999;
  display: inline;
}
