---
layout: default
title: CV Sebastian Proost, PhD
---
<div id="experience">
  <h1>Experience</h1>
  <ul class="cv_list">
	{% for e in site.data.experience %}
		{% include exp_edu.html e=e %}
	{% endfor %}
  </ul>
</div>

<div id="education">
  <h1>Education</h1>
  <ul class="cv_list">
	{% for e in site.data.education %}
		{% include exp_edu.html e=e %}
	{% endfor %}
  </ul>
</div>

<div id="software">
  <h1>Software</h1>
  <ul class="cv_list">
	{% for s in site.data.software %}
		<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs"></div>
		<div class="col-lg-9 col-md-9 col-sm-8"><strong>{{ s.name }}</strong> : {{ s.description }} <a href="{{ s.url }}" class="badge">url</a></div>
		</div>
	{% endfor %}
  </ul>
</div>

<div id="training">
  <h1>Training <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  <ul class="cv_list">
	{% for t in site.data.training %}
		{% if t.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
				{% include training.html t=t %}
		  </li>
	{% endfor %}
  </ul>
</div>

<div id="conferences">
  <h1>Conferences <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  <ul class="cv_list">
	{% for c in site.data.conferences %}
		{% if c.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
			{% include conference.html c=c %}
		  </li>
 	{% endfor %}
  </ul>
</div>

<div id="support">
  <h1>Educational support</h1>
	{% for s in site.data.support %}
		{% include support.html s=s %}
 	{% endfor %}
</div>

<div id="grants-awards">
  <h1>Grants and Awards</h1>
	{% for ga in site.data.grants_awards %}
		{% include grants_awards.html ga=ga %}
 	{% endfor %}
</div>

<div id="publications">
  <h1>Publications <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  {% include citations.html %}
  <ul class="cv_list">
	{% for p in site.data.publications %}
		{% if p.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
			{% include paper.html p=p %}
		  </li> 
	{% endfor %}
  </ul>
</div>