---
layout: default
title: CV Sebastian Proost, PhD
---

<div id="training">
  <h1>Training <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  <ul class="cv_list">
	{% for t in site.data.training %}
		{% if t.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
				{% include training.html t=t %}
		  </li>
	{% endfor %}
  </ul>
</div>

<div id="conferences">
  <h1>Conferences <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  <ul class="cv_list">
	{% for c in site.data.conferences %}
		{% if c.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
			{% include conference.html c=c %}
		  </li>
 	{% endfor %}
  </ul>
</div>

<div id="publications">
  <h1>Publications <small>(<span class="toggle-button">Show more...</span>)</small></h1>
  {% include citations.html %}
  <ul class="cv_list">
	{% for p in site.data.publications %}
		{% if p.Selected == "1" %}
		  <li>
		{% else %}
		  <li class="toggle toggle-off">	
		{% endif %}
			{% include paper.html p=p %}
		  </li> 
	{% endfor %}
  </ul>
</div>