<div class="row">
	<div class="timeline col-lg-3 col-md-3 col-sm-4  hidden-xs" data-min={{ site.timeline_start }} data-max={{ site.timeline_stop }} data-value={{ m.year }}></div>
	{% if m.type == 'image' %}
	<div class="col-lg-9 col-md-9 col-sm-8"><i class="fa {{ m.icon }}"></i> {{ m.medium }}: <strong><a class="media-link" href="#" data-featherlight="{{ m.url }}" >{{ m.title }}</a></strong><br /><em>{{ m.description }}</em></div>
	{% else %}
	<div class="col-lg-9 col-md-9 col-sm-8"><i class="fa {{ m.icon }}"></i> {{ m.medium }}: <strong><a class="media-link" href="#" data-featherlight='{{ m.data }}'>{{ m.title }}</a></strong><br /><em>{{ m.description }}</em></div>
    {% endif %}
</div>