<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#publications">Publications</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div class="container">


          {{ content }}


        </div> <!--/.container -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/pablo.min.js"></script>
	<script>
		$(function() {
			var timeline_width = 200;
			var timeline_height = 20;
			
			$( ".timeline" ).each(function( ) {
				var dataMin = $( this ).attr("data-min");
				var dataMax = $( this ).attr("data-max");
				var dataValue = $( this ).attr("data-value");
				
				var step = (timeline_width-10)/(dataMax - dataMin);
				var pos = (step * (dataValue - dataMin))+5;
				
				var svg = Pablo($( this )).svg({
					width: timeline_width,
					height: timeline_height
					});
				
				svg.line({  
					x1:5,
                    y1:timeline_height/2,
                    x2:timeline_width-5,
                    y2:timeline_height/2,
                    stroke: '#BBB',
                    'stroke-width': 0.75})
				
				svg.circle({
					cx: pos,
					cy: timeline_height/2,
					r: 4,
					fill:  '#e68a00',
					stroke:'#060',
					'stroke-width': 0});
			});
			
			$( ".timerange" ).each(function( ) {
				var dataMin = $( this ).attr("data-min");
				var dataMax = $( this ).attr("data-max");
				var dataStart = $( this ).attr("data-start");
				var dataStop = $( this ).attr("data-stop");
				
				var step = (timeline_width-10)/(dataMax - dataMin);
				var posStart = (step * (dataStart - dataMin)) + 5;
				var posStop = (step * (dataStop - dataMin)) + 5;
				
				var svg = Pablo($( this )).svg({
					width: timeline_width,
					height: timeline_height
					});
				
				svg.line({  
					x1:5,
                    y1:timeline_height/2,
                    x2:timeline_width-5,
                    y2:timeline_height/2,
                    stroke: '#BBB',
                    'stroke-width': 0.75})
				
				svg.rect({
					x:posStart-4, 
					y:timeline_height/2-4, 
					rx:4, 
					ry:4, 
					width:(posStop-posStart)+8, 
					height:8, 
					fill:'#e68a00'});
			});
		});
		
		$(document).ready(function(){
			$('a[href^="#"]').on('click',function (e) {
				e.preventDefault();

				var target = this.hash;
				var $target = $(target);

				$('html, body').stop().animate({
					'scrollTop': $target.offset().top
				}, 900, 'swing', function () {
					window.location.hash = target;
				});
			});
		});
	</script>
    </body>
</html>
