<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/jquery.qtip.min.css">
        <link rel="stylesheet" href="/css/featherlight.min.css">
		<link rel="stylesheet" href="/css/featherlight.gallery.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		    <li><a class="page-scroll" href="#experience">Experience</a></li>
		    <li><a class="page-scroll" href="#education">Education</a></li>
			<li><a class="page-scroll" href="#software">Software</a></li>
			<li><a class="page-scroll" href="#publications">Publications</a></li>
            <li><a class="page-scroll" href="#media">Media</a></li>
			<li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="page-scroll" href="#training">Training</a></li>
					<li><a class="page-scroll" href="#conferences">Conferences</a></li>
					<li><a class="page-scroll" href="#support">Educational support</a></li>
					<li><a class="page-scroll" href="#grants-awards">Grants/Awards</a></li>
					<li><a class="page-scroll" href="#languages">Languages</a></li>
				</ul>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div class="container">


          {{ content }}


        </div> <!--/.container -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/pablo.min.js"></script>
	<script src="js/timelines.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.qtip.min.js"></script>
    <script src="js/featherlight.min.js"></script>
    <script src="js/featherlight.gallery.min.js"></script>
	<script>
		$(document).ready(function(){
			// jQuery for page scrolling feature - requires jQuery Easing plugin
			$('a.page-scroll').bind('click', function(event) {
				var $anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: ($($anchor.attr('href')).offset().top - 70)
				}, 900, 'easeInOutExpo');
				event.preventDefault();
			});

			$('span.tooltipped').each(function() {
				$(this).qtip({
				    style: {
						classes: 'qtip-bootstrap'
					},
					content: {
						text: $(this).next('.tooltiptext')
					},
					hide: {
						fixed: true,
						delay: 300
					}
				});
			});
			
			// Highlight the top nav as scrolling occurs
			$('body').scrollspy({
				target: '.navbar-fixed-top',
				offset: 71
			})
			$('.toggle-button').on('click',function (e) {
				e.preventDefault();
				
				$(this).closest('section').find('li.toggle').toggle();
				
				if ($(this).text() !== "Show less...") {
					$(this).text("Show less...");
				} else {
					$(this).text("Show more...");
				}
				
			});
			
		});
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-47068418-2', 'auto');
	  ga('send', 'pageview');

	</script>
    </body>
</html>
