<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
		    <li><a class="page-scroll" href="#experience">Experience</a></li>
		    <li><a class="page-scroll" href="#education">Education</a></li>
			<li><a class="page-scroll" href="#software">Software</a></li>
		    <li><a class="page-scroll" href="#training">Training</a></li>
			<li><a class="page-scroll" href="#conferences">Conferences</a></li>
			<li><a class="page-scroll" href="#support">Educational support</a></li>
			<li><a class="page-scroll" href="#grants-awards">Grants/Awards</a></li>
            <li><a class="page-scroll" href="#publications">Publications</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
        <div class="container">


          {{ content }}


        </div> <!--/.container -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/pablo.min.js"></script>
	<script src="js/timelines.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script>
		$(document).ready(function(){
			// jQuery for page scrolling feature - requires jQuery Easing plugin
			$('a.page-scroll').bind('click', function(event) {
				var $anchor = $(this);
				$('html, body').stop().animate({
					scrollTop: ($($anchor.attr('href')).offset().top - 70)
				}, 900, 'easeInOutExpo');
				event.preventDefault();
			});

			// Highlight the top nav as scrolling occurs
			$('body').scrollspy({
				target: '.navbar-fixed-top',
				offset: 71
			})
			$('.toggle-button').on('click',function (e) {
				e.preventDefault();
				
				$(this).closest('div').find('li.toggle').toggle();
				
				if ($(this).text() !== "Show less...") {
					$(this).text("Show less...");
				} else {
					$(this).text("Show more...");
				}
				
			});
			
		});
	</script>
    </body>
</html>
